<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container { 
            display: flex; 
            flex-direction: column; 
        }
        .container > table { 
            margin-left: auto;margin-right: auto; width: 80%;
        }

        .container > h1 { 
            margin-left: auto; margin-right: auto;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Store {{store_id}}</h1>
        <table>
            <tr>
                <th>Sales</th>
                <th>Most Sold Product</th>
                <th>Amount of Most Sold Product</th>
            </tr>
                    <td>
                    {% for sale in sales %}
                        <ul>
                            <li>{{ sale }}</li>
                            <ul>
                                {% for line_sale in sale.line_vente %}
                                    <li>{{line_sale}}
                                {% endfor %}
                                </li>
                            </ul>
                        </ul>
                    {% endfor %}
                    </td>
                    <td>{{most_sold_product}}</td>
                    <td>{{max_quantity}}</td>
                    
            </tr>
        </table>
    </div>
</body>
</html>