<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Central stock</title>
    <style></style>
</head>
<body>
    <h1>Central stock</h1>

    <table>
        <tr>
            <th>Product ID</th>
            <th>Warehouse quantity</th>
        </tr>
        {% for depot in depots %}
            <tr>
                <td>{{depot.product}}</td>
                <td>{{depot.quantite_depot}}</td>
            </tr>
        {% endfor %}
        </table>
</body>
</html> 